#part-breadcrumbs {
	height:30px;
	.wrap {
		padding:5px 0;
		border-bottom:1px solid #d8d8d8;
		nav {
			display:inline-block;
			float:left;
		}
		p, a, span {
			display:inline-block;
			float:left;
			@include font-secondary( 12px );
			text-decoration:none;
			color:$colour-main;
			margin:0;
			line-height:20px;
		}
		span {
			margin:0 10px;
			font-size:15px;
		}
		@include clearfix();
	}
	.wrap, nav {
		@include font-secondary( 12px );
		color:$colour-main;
		line-height:20px;
	}
}