.category-carousel {
	padding:40px 0 60px 0;
	.gallery {
		.gallery-carousel {
			.gallery-carousel-slide {
				padding:0;
				.image {

				}
				.content {
					border-top:1px solid $colour-bg;
					border-bottom:2px solid $colour-bg;
					p {
						color:#fff;
					}
				}
			}
		}
		.gallery-prev, .gallery-next {

		}
		.gallery-prev {
			left:-50px;
		}
		.gallery-next {
			right:-50px;
		}
	}

	@include tablet() {
		.gallery{
			.gallery-prev {
				left:-30px;
			}
			.gallery-next {
				right:-30px;
			}
		}
	}
}