.part-description {
	padding:40px 0;
	.title {

	}
	.dyn-content {
		padding:20px 100px 0;
		text-align:center;
		p {
			text-align:center;
		}
		@include tablet-below(){
			padding: 20px 0 0;
		}
	}
}