.part-display {
	margin-bottom:20px;
	.item {
		width:100%;
		display:block;
		padding-bottom:70%;
		position:relative;
		overflow:hidden;
		margin-bottom:30px;
		.background {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-size:cover;
			background-position:center;
			@include db-transition( all 0.5s ease-in-out );
			z-index:1;
		}
		.holder {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-color:rgba( $colour-main, 0.5 );
			@include db-transition( all 0.5s ease-in-out );
			z-index:2;
			.content {
				width:100%;
				position:absolute;
				top:50%;
				padding:0 50px;
				@include db-transform( translateY( -50% ) );
				z-index:3;
				p {
					text-transform:uppercase;
					color:#fff;
					text-align:center;
					margin:0;
					position:relative;
				}
				.title {
					margin-bottom:24px;
					@include font-primary( 24px, 600, 3px, $colour:#fff );
					&:after {
						content:'';
						width:100px;
						height:1px;
						background-color:#fff;
						position:absolute;
						right:0;
						bottom:-40px;
						left:0;
						margin:auto;
					}
				}
				.details {
					line-height:1;
					@include db-arrow( 8px, 1px, $top:-1px );
					&:after {
						top:0;
						right:-100px;
					}
				}
			}
		}
		&:hover {
			.background {
				@include db-transform( scale( 1.1, 1.1 ) );
			}
			.holder {
				background-color:transparent;
			}
		}
	}
}