#drop-search {
	width:100%;
	height:50px;
	display:none;
	padding:8px 0 12px 0;
	::-webkit-input-placeholder {
	   color: #fff;
	}

	:-moz-placeholder {
	   color: #fff;
	}

	::-moz-placeholder {
	  color: #fff;
	}

	:-ms-input-placeholder {
	   color: #fff;
	}
	.container {
		position:relative;
	}
	.product-search {
		width:100%;
		padding-left:30px;
		.search {
			width:100%;
			height:30px;
			background-color:transparent;
			border:1px solid transparent;
			color:#fff;
			&:focus {
				border-color:#fff;
			}
		}
		button {
			position:absolute;
			top:4px;
			left:15px;
			color:#fff;
			font-size:24px;
		}
	}
	@include media-breakpoint-down(md){
		display: none;
	}
}