#site-navigation-mob {
	display:none;
}

@include mobile-below() {
	#site-navigation-mob {
		width:$mobile-nav-width;
		height:100%;
		top: 0;
		display:block;
		position:fixed;
		left:-$mobile-nav-width;
		overflow-y:auto;
		@include db-transition( left 0.5s ease-in-out );
		@include db-box-shadow( -10px, 0, 10px, -5px, #000, 0.5, inset );
		#site-navigation-mob-contact {
			width:100%;
			height:40px;
			background-color:$colour-lightbg;
			margin-bottom:25px;
			a {
				display:block;
				@include font-primary(15px, bold);
				color:#fff;
				text-transform:uppercase;
				line-height:40px;
				text-decoration:none;
				text-align:center;
			}
		}
		ul {
			margin: 10px 0 40px;
			padding:0 15px;
			li {
				border-bottom:1px solid $colour-lightbg;
				a {
					display:block;
					@include font-primary( 18px, 400, 2px );
					line-height:40px;
					color:#fff;
					text-transform:uppercase;
				}
				&:last-child {
					border:0;
				}
			}
		}
		.mobile-search {
			.product-search {
				padding: 0 15px;
				position:relative;
				.search {
					width: 100%;
					height: 40px;
					padding: 0 40px 0 10px;
					@include db-radius(5px);
					border: none;
				}
				button {
					width: 40px;
					height: 38px;
					position:absolute;
					top:1px;
					right:16px;
					@include db-radius(5px);
					background-color:$colour-lightbg;
				}
			}
		}
	}
	#site-wrapper {
		width:auto;
		position:relative;
		left:0;
		@include db-transition( left 0.5s ease-in-out );
	}
	.navopen {
		#site-navigation-mob {
			left:0;
		}
		#site-wrapper {
			position:fixed;
			left:$mobile-nav-width;
			cursor:pointer;
		}
	}
}