.mobile-category{
  padding: 20px 0 55px;
  .content {
    display:block;
    border-top: 1px solid $colour-bg;
    padding: 20px 0 20px 80px;
    position: relative;
    @include db-arrow( 30px, 2px, #9b9b9b, 45deg, $left:auto, $right:10px );
    &:last-child{
      border-bottom: 1px solid $colour-bg;
    }
	.image {
		width:60px;
		height:65px;
		position:absolute;
		bottom:0;
		left:0;
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
	}
    .title {
      color: #fff;
      text-align: left;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 3px;
      margin-bottom: 0;
      line-height: 1.1;
	  position:relative;
	  top:3px;
    }
  }
}