#part-pagination, .woocommerce-pagination {
	text-align: center;
	padding:20px 0;
	margin:0;
	h2 {
		display: none;
	}
	.nav-links, ul {
		@include font-primary(14px);
		li {
			display:inline-block;
			span {
				display:block;
			}
		}
		.page-numbers {
			width:30px;
			height:30px;
			display:inline-block;
			background-color:#e7e7e7;
			color:$colour-bg;
			line-height:30px;
			text-align:center;
			margin:0 4px;
			text-transform: uppercase;
			&.current, &:hover {
				background-color:$colour-bg;
				color:#fff;
			}
		}
		.prev, .next {
			width:55px;
		}
		.prev {
			//padding: 0 20px 0 0!important;
		}
		.next {
			//margin: 0 0 0 20px!important;
		}
	}
}