.product-search {
	.search {
		border:0;
		padding-left:10px;
	}
	button {
		@extend .button;
		width:30px;
		height:30px;
		padding:0;
		border:0;
		text-align:center;
		span {
			position:relative;
			top:-2px;
		}
	}
}