@mixin db-box-shadow($horz, $vert, $blur, $spread, $colour, $opacity, $inset:'') {
  -webkit-box-shadow: $inset $horz $vert $blur $spread rgba($colour, $opacity);
  -moz-box-shadow: $inset $horz $vert $blur $spread rgba($colour, $opacity);
  -ms-box-shadow: $inset $horz $vert $blur $spread rgba($colour, $opacity);
  box-shadow: $inset $horz $vert $blur $spread rgba($colour, $opacity);
}

@mixin db-no-box-shadow(){
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
}