@each $breakpoint in map-keys($grid-breakpoints) {
    $breakpoint-counter: ($breakpoint-counter + 1);
	@for $i from 1 through 5 {
	  .col5-#{$breakpoint}-#{$i} {
		@include make-col($i, 5);
	  }
	}
}
