@mixin make-collapse-breakpoints($breakpoints: $grid-breakpoints) {

  $breakpoint-counter: 0;
  @each $breakpoint in map-keys($breakpoints) {
    $breakpoint-counter: ($breakpoint-counter + 1);

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      .collapse-#{$breakpoint}-up {
        &:not(.in) {
          &:not(.collapsing) {
            display: none;
          }
        }
      }
    }

    @include media-breakpoint-down($breakpoint, $breakpoints) {
      .collapse-#{$breakpoint}-down {
        &:not(.in) {
          &:not(.collapsing) {
            display: none;
          }
        }
      }
    }
  }
}

@include make-collapse-breakpoints();
