@mixin font-primary( $size:$font-primary-default-size, $weight:$font-primary-default-weight, $spacing:$font-primary-default-spacing, $colour:$font-primary-default-colour ) {
	font-family: $font-primary, 'serif';
	font-size: $size;
	font-weight: $weight;
	letter-spacing: $spacing;
	color: $colour;
}

@mixin font-secondary( $size:$font-secondary-default-size, $weight:$font-secondary-default-weight, $spacing:$font-secondary-default-spacing, $colour:$font-primary-default-colour ) {
	font-family: $font-secondary, 'sans-serif';
	font-size: $size;
	font-weight: $weight;
	letter-spacing: $spacing;
	color: $colour;
}