/* Anything above maximum breakpoint */
@mixin desktop() {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

/* Laptop ( lg ) only */
@mixin laptop() {
  @include media-breakpoint-down(lg) {
	@include media-breakpoint-up(lg) {
		@content;
	}
  }
}

/* Laptop & below */
@mixin laptop-below() {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

/* Tablet ( md ) only */
@mixin tablet() {
  @include media-breakpoint-down(md) {
	@include media-breakpoint-up(md) {
		@content;
	}
  }
}

/* Tablet & below */
@mixin tablet-below() {
   @include media-breakpoint-down(md) {
    @content;
  }
}

/* Mobile ( sm ) only */
@mixin mobile() {
  @include media-breakpoint-down(sm) {
	@include media-breakpoint-up(sm) {
		@content;
	}
  }
}

/* Mobile & below */
@mixin mobile-below() {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

/* Small ( xs ) only */
@mixin small() {
  @include media-breakpoint-down(xs) {
    @content;
  }
}