@mixin db-section( $top-padding, $side-padding, $bottom-padding, $colour-bg:transparent ) {
	padding-top: $top-padding;
	padding-right: $side-padding;
	padding-bottom: $bottom-padding;
	padding-left: $side-padding;
	background-color: $colour-bg;

	@media(min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)) { // Desktop

	}

	@media(min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) { // Laptop

	}

	@media(max-width: map-get($grid-breakpoints, lg)) { // Tablet & Below

	}

	@media(min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) { // Tablet

	}

	@media(max-width: map-get($grid-breakpoints, md)) { // Mobile
		padding-left:15px;
		padding-right:15px;
	}

	@media(max-width: map-get($grid-breakpoints, sm)) { // Extra Small

	}
}