#main.page-404 {
	padding-bottom:40px;
	.part-description {
		padding-bottom:10px;
	}
	#list-404 {
		text-align:center;
		ul {
			padding:0;
			li {
				list-style-type:none;
				text-align:center;
				a {}
			}
		}
	}
	#search-404 {
		width:100%;
		max-width:600px;
		margin:30px auto 0;
		padding:20px;
		background-color:#414141;
		p {
			margin-bottom:10px;
			line-height:1;
			@include font-primary( 16px, $colour:#fff );
			text-transform:uppercase;
		}
		form {
			position:relative;
			.search {
				width:100%;
				height:40px;
				border-radius:4px;
			}
			button {
				width:36px;
				height:36px;
				position:absolute;
				top:2px;
				right:2px;
				border-radius:4px;
				span {
					top:2px;
				}
			}
		}
	}
}