#main.page-about {

	#history-slider {
		.gallery {
			background-color:#f2f2f2;
			.gallery-prev, .gallery-next {
				width:85px;
				height:60px;
				line-height:60px;
				background-color:rgba( $colour-bg, 0.9 );
				text-align:center;
				@include font-primary( 16px, $colour:#fff);
			}
			.gallery-prev {
				left:0;
				@include db-arrow( 10px, 1px, #fff, -135deg );
				&:after {
					left:-50px;
				}
			}
			.gallery-next {
				right:0;
				@include db-arrow( 10px, 1px, #fff );
				&:after {
					right:-50px;
				}
			}
			.gallery-slider {
				.gallery-slider-slide {
					.history-slide-bg {
						background-size:cover;
						background-position:center;
						@include db-fill_parent();
						@include db-filter( grayscale( 100% ) );
					}
					.inner {
						padding:0 150px;
						background-color:rgba( #fff, 0.80 );
						.holder {
							width:100%;
							height:100%;
							display:none;
						}
						.content {
							width:60%;
							height:100%;
							position:relative;
							top:0;
							bottom:0;
							float:left;
							.wrap {
								width:100%;
								position:absolute;
								top:50%;
								@include db-transform( translateY( -50% ) );
								padding-right:40px;
								p {
									text-align:center;
								}
								.title {
									color:#9b9b9b;
									margin-bottom:35px;
									&:after {
										background-color:#9b9b9b;
										margin:0 auto;
									}
								}
								.year {
									color:$colour-main;
									@include font-primary( 22px, 600 );
									line-height:1;
									text-transform:uppercase;
									margin-bottom:5px;
								}
								.text{
									@include font-secondary(13px);
								}
							}
						}
						.image {
							width:40%;
							height:100%;
							position:relative;
							top:0;
							bottom:0;
							float:right;
							img {
								width:100%;
								height:auto;
								position:absolute;
								top:50%;
								@include db-transform( translateY( -50% ) );
							}
						}
					}
				}
			}
		}
		@include tablet-below() {
			.gallery {
				.gallery-prev, .gallery-next {
					top: 25%;
				}
				.gallery-prev {
					&:after {
					}
				}
				.gallery-next {
					&:after {
					}
				}
				.gallery-slider {
					.gallery-slider-slide {
						padding-bottom: 80%;
						.history-slide-bg {
						}
						.inner {
							padding: 0;
							.content {
								width: 50%;
								height: 50%;
								float: none;
								margin: 0 auto;
								.wrap {
									padding: 0;
									p {
									}
									.title {
										&:after {
										}
									}
									.year {
									}
								}
							}
							.image {
								width: 50%;
								height: 50%;
								float: none;
								margin: 20px auto;
								img {
								}
							}
						}
					}
				}
			}
		}
		@include mobile-below() {
			.gallery {
				.gallery-prev, .gallery-next {
					bottom:0;
					top: auto;
					width: 147px;
				}
				.gallery-prev {
					left: 20px;
					&:after {
					}
				}
				.gallery-next {
					right: 20px;
					&:after {
					}
				}
				.gallery-slider {
					.gallery-slider-slide {
						padding-bottom: 120%;
						.history-slide-bg {
						}
						.inner {
							.content {
								width: 100%;
								.wrap {
									top:20%;
									p {
									}
									.title {
										&:after {
										}
									}
									.year {
									}
								}
							}
							.image {
								margin: 0 auto;
								img {
									top: 10px;
									@include no-transform();
								}
							}
						}
					}
				}
			}
		}
	}
	#history-slider-nav {
		width:100%;
		height:60px;
		background-color:$colour-main;
		ul {
			width:100%;
			text-align:center;
			li {
				display:inline;
				list-style-type:none;
				line-height:60px;
				padding:0 10px;
				@include font-primary( 16px, $colour:#9b9b9b );
				cursor:pointer;
				&.active {
					color:#fff;
				}
			}
		}
	}
}