#main.page-account {

	#account-sidebar {
		width:200px;
		float:left;
		ul {
			li {
				background-color:$colour-bg;
				margin-bottom:10px;
				@include db-transition( transform( background-color 0.2s ease-in-out ) );
				a {
					display:block;
					padding:13px 10px 10px 9px;
					@include font-primary( 14px, $colour:#fff );
					text-transform:uppercase;
					line-height:0.9;
				}
				&:hover {
					background-color:#3f3f3f;
				}
			}
		}
	}

	#account-content {
		width:calc( 100% - 220px );
		margin-left:20px;
		float:left;

		.woocommerce-Address {
			position:relative;
			.woocommerce-Address-title {
				h3 {
					@extend .sub-title;
				}
				text-align:left;
				&:after {
					display:none;
				}
			}
			.edit {
				position: absolute;
				top:0;
				right:0;
				content:'';
				font-size:12px;
				letter-spacing:0.5px;
				line-height:10px;
				&:after {
					font-family:FontAwesome;
					content:"\f044";
					font-size:20px;
					margin-left:5px;
					position:relative;
					top:3px;
				}
			}
		}
	}
}