#main.page-cart {
	padding-bottom:40px;
	#cart-contents {
		table.shop_table {
			thead {
				display:none;
			}
			.cart_item {
				border:0;
				background-color:#fff;
				td {
					background:none;
				}
				&:nth-child(odd) {
					background-color:#f4f4f4;
				}
				.product-remove {
					width:40px;
				}
				.product-thumbnail {
					width:120px;
					a {
						display:block;
					}
				}
				.product-quantity {
					width:200px;
				}
				.product-subtotal {
					text-align:right;
				}
			}
			.actions {
				background-color:#f4f4f4;
				border-top:1px solid #c5c3c5;
				.coupon {
					#coupon_code {
						width:200px;
						float:left;
						padding-left:5px;
					}
				}
				.button {
					float:right;
				}
			}
		}
		.cart-collaterals {
			.cart_totals {
				width:45%;
				h2 {
					@include font-primary( 20px, 600 );
					text-transform:uppercase;
				}
				table {
					border-bottom:1px solid #c5c3c5;
					tr {
						th, td {
							border-top:1px solid #c5c3c5;
							background:none;
							.woocommerce-shipping-calculator > p {
								@extend .button;
							}
						}
						&:nth-child(odd) td {
							background-color:#f4f4f4;
						}
					}
				}
			}
			.woocommerce-shipping-calculator {
				margin:0;
				& > p {
					width:auto;
					display:inline-block;
					background-color:#333;
					padding:5px 10px;
					margin:0;
					a {
						display:block;
						color:#fff;
						text-transform:uppercase;
					}
				}
				.shipping-calculator-form {
					margin-top:20px;
				}
			}
		}
	}

}

// Laptop Only
@include laptop() {

}

// Tablet & Mobile
@include tablet-below() {
	#main.page-cart {
		#cart-contents {
			table.shop_table {
				.cart_item {
					.product-quantity {
						width:100%;
						@include clearfix();
						#quantity{
							float: right;
						}
						td.label{
							display: none;
						}
						td.value{
							padding: 6px 0;
						}
						td{
							&:before{
								display: none;
							}
						}
					}
				}
				.actions {
					.coupon #coupon_code, .button {

					}
					.coupon {
						#coupon_code {
							width: 48%;
						}
					}
				}
			}
			.cart-collaterals {
				.cart_totals {
					width:100%;
				}
			}
		}
	}

}

// Tablet Only
@include tablet() {

}

// Mobile Only
@include mobile-below() {
  //
	//.shop_table {
	//	.cart_item {
	//		.product-quantity {
	//			input {}
	//		}
	//	}
	//}
  //
	//#main.page-cart {
	//	#cart-contents {
	//		table.shop_table {
	//			.cart_item {
	//				.product-quantity {
	//					width:100%;
	//					td.label{
	//						display: none;
	//					}
	//					td{
	//						&:before{
	//							display: none;
	//						}
	//					}
	//				}
	//			}
	//			.actions {
	//				.coupon #coupon_code, .button {
  //
	//				}
	//				.coupon {
	//					#coupon_code {
	//						width: 48%
	//					}
	//				}
	//			}
	//		}
	//		.cart-collaterals {
	//			.cart_totals {
	//				width:100%;
	//			}
	//		}
	//	}
	//}

}