#main.page-category {

	.product-list {
		ul {
			li {
				@extend .col-6;
				@extend .col-md-4;
				@extend .col-lg-3;
			}
		}
	}

	//@include small() {
	//	.product-list {
	//		ul {
	//			li {
	//				.image {
	//					padding-bottom:0;
	//					img {
	//						position:relative;
	//						margin:0 auto;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}

}
#main.category-shop_online{
	.product-list {
		ul {
			li {
				a{
					.content{
						text-align:center;
					}
				}
			}
		}
	}
}