#main.page-checkout {
	padding-bottom:20px;
	.woocommerce .woocommerce-checkout {
		width:100%;
		@include clearfix();
		h3 {
			@extend .sub-title;
			font-size:20px;
		}
		#customer_details {
			width:55%;
			float:left;
			.form-row-first {width:48%;margin-right:4%;}
			.form-row-last {width:48%;}
			input, select {
				height:40px;
				border:1px solid #d7d7d7;
				padding-left:10px;
				&:focus {
					background-color:#e8e8e8;
				}
			}
			.form-row.woocommerce-invalid input.input-text {
				border-left:2px solid #e2401c;
				padding-left:9px;
			}
			.form-row.woocommerce-validated input.input-text {
				border-left:2px solid #0f834d;
				padding-left:9px;
			}
		}
		#order_review_heading, #order_review {
			width:43%;
			float:left;
			margin-left:2%;
			border:3px solid $colour-bg;
		}

		#order_review_heading {
			border-bottom:0;
			margin-bottom:0;
			padding:10px;
		}
		#order_review {
			border-top:0;
			table.shop_table {
				.cart_item {
					.product-quantity {
						font-size:12px;
						display:block;
					}
				}
			}
			&.sticky_stuck {
				position:fixed;
			}
			&.sticky_unstuck {
				position:static;
			}
		}
		.col2-set .col-1, .col2-set .col-2 {
			width:100%;
			float:none;
		}
	}

	// Laptop Only
	@include laptop() {
		.woocommerce-checkout {
			#masthead {
				.container {
					//width:$container-content-laptop;
				}
			}
		}

	}

	// Tablet & Mobile
	@include laptop-below() {

	}

	// Tablet Only
	@include tablet() {
		.woocommerce-checkout {
			#masthead {
				.container {
					//width:$container-content-tablet;
				}
			}
		}

	}

	// Mobile Only
	@include mobile-below() {
		.woocommerce .woocommerce-checkout {
			#customer_details, #order_review_heading, #order_review {
				width:100%;
				float:none;
				margin:0;
			}
			#customer_details {
				margin-bottom:20px;
				.form-row-first {
					width:100%;
					margin-right:0;
				}
				.form-row-last {
					width:100%;
				}
			}
		}
	}
}