#main.page-contact {
	#contact-details {
		padding-bottom:20px;
		@include clearfix();
	}
	#contact-returns {

	}
	.sub-title {
		margin-bottom:30px;
	}
	.phone, .email {
		@include font-secondary( 13px );
		width: 40%;
		float: left;
		span {
			font-weight: 600;
			color:black;
		}
	}
	.email {
		width:60%;
	}
	.returns {
		@include font-secondary( 13px );
		a {
			color: inherit;
		}
	}
	#contact-form {
		fieldset {
			position:relative;
			.form-control {
				@include font-secondary( 13px, $colour:$sub-title-colour );
				border: 0;
				border-radius: 0;
				border-bottom: 1px solid $news-cat-active;
				@include db-transition(all 350ms ease-in-out);
				&:focus{
					border-color: $colour-bg;
				}
			}
			.form-error {
				position:absolute;
				top:9px;
				left:130px;
				color:red;
				font-size:12px;
				line-height:1;
			}
		}
		#enquiry-type{
			height: 33px;
		}
		.button {
			height:50px;
			line-height:53px;
			padding: 0 30px 0 20px;
			position: relative;
			@include db-arrow( 9px, 2px, #fff, 45deg, $left:auto, $right:14px );
			@include font-primary(14px);
			color: white;
		}
	}

	.part-display {
		margin-top: 50px;
		.item{
			padding-bottom: 50%;
		}
	}

	@include laptop-below() {
		.phone, .email {
			width:100%;
			float:none;
			display:block;
		}
	}
}