#main.page-hire {

	#hire-slider {
		.gallery {
			padding:0 200px;
			.gallery-prev, .gallery-next {
				top:40%;
			}
			.gallery-prev {
				left:210px;
			}
			.gallery-next {
				right:210px;
			}
			.gallery-slider {
				.gallery-slider-slide {
					padding-bottom:100%;
					.inner {
						.content {
							padding:10px 20px;
							position:absolute;
							bottom:0;
							left:30px;
							background-color:rgba( $colour-main, 0.9 );
							p {
								@include font-primary( 16px, 600, 2px );
								color:#9b9b9b;
								text-transform:uppercase;
								margin:5px 0 0 0;
								line-height:1.1;
								&:first-child {
									margin:0;
								}
							}
							.title {
								font-size:26px;
								color:#fff;
								letter-spacing:4px;
								&:after {
									display:none;
								}
							}
						}
					}
				}
			}
			.gallery-carousel {
				.gallery-carousel-slide {
					padding-bottom:100%;
				}
			}
		}
	}

	#hire-content {
		.dyn-content {
			padding:0;
		}
	}

	#downloads {
		padding-bottom:50px;
		.item {
			width:100%;
			height:200px;
			padding:25px;
			margin-top:20px;
			background-color:$colour-bg;
			.icon {
				width:45px;
				height:auto;
				display:block;
				margin:0 auto 10px;
			}
			.title {
				color:#fff;
				margin-bottom:30px;
				&:after {
					background-color:#fff;
				}
			}
			.download {
				display:block;
				@include font-primary( 16px, 400 );
				text-align:center;
				text-transform:uppercase;
				color:#fff;
			}
		}
	}
	@include tablet-below() {
		#hire-slider{
			.gallery{
				padding:0 80px;
				.gallery-prev {
					left:90px;
				}
				.gallery-next {
					right:90px;
				}
			}
		}
	}

	@include mobile-below() {
		#hire-slider {
			.gallery {
				padding:0;
				.gallery-prev {
					left:10px;
				}
				.gallery-next {
					right:10px;
				}
				.gallery-slider {
					.gallery-slider-slide {
						.inner {
							.content {
								bottom: 0;
								right: 0;
								left:0;
								margin-left: auto;
								margin-right: auto;
								width: 90%;
								padding: 5px 20px;
								p {
									text-align: center;
								}
								.title {
									font-size:20px;
								}
							}
						}
					}
				}
				.gallery-carousel {
					display:none;
				}
			}
		}
	}

}