#main.page-homepage {
	background-color:$colour-main;
	background-image:url( '/wp-content/themes/angels/assets/img/bg-tile.png' );

	#home-slideshow {
		background-color:$colour-bg;
		.gallery {
			.gallery-slider {
				.gallery-slider-slide {
					padding-bottom:30%;
					.holder {
						display:none;
						position:absolute;
						top:0;
						right:0;
						bottom:0;
						left:0;
						.container {
							height:100%;
						}
						.content {
							width:50%;
							float:left;
							position:relative;
							top:50%;
							@include db-transform( translateY( -50% ) );
							text-align:center;
							.title {
								@include font-primary( 40px, $colour:#fff );
								text-transform:uppercase;
								margin:0;
								line-height:1.1;
								&:after {
									display:none;
								}
							}
							.text {
								@include font-primary( 32px, $colour:#fff );
								line-height:1.1;
								font-style:italic;
								text-shadow: 0px 0px 10px rgba(0,0,0,.5)
							}
							.button {
								width:200px;
								height:50px;
								display:inline-block;
								position:relative;
								line-height:50px;
								padding-right:10px;
								text-align:center;
								background-color:#fff;
								@include font-primary( 15px, $colour:#000 );
								text-transform:uppercase;
								@include db-arrow( 8px, $color:#000, $left:auto, $right:20px );
								margin-top:40px;
							}
						}
					}
				}
				.owl-controls {
					width:100%;
					height:5px;
					position:absolute;
					bottom:40px;
					.owl-dots {
						width:100%;
						height:4px;
						text-align:center;
						.owl-dot {
							width:40px;
							height:4px;
							background-color:#0b0b0b;
							opacity:0.5;
							display:inline-block;
							margin:0 8px;
							vertical-align:top;
							&.active {
								background-color:#fff;
							}
						}
					}
				}
			}
		}
	}

	.part-description {
		padding: 60px 0 20px 0;
		color: #fff;
		p, a, .title {
			color: #fff;
		}
		.dyn-content {
			padding-top:10px;
		}
	}

	@include tablet() {
		#home-slideshow {
			.gallery .gallery-slider {
				.gallery-slider-slide {
					.holder .content {
						.title {
							font-size:28px;
						}
						.text {
							font-size:22px;
						}
						.button {
							height:40px;
							line-height:42px;
							font-size:14px;
							margin-top:20px;
						}
					}
				}
				.owl-controls {
					bottom:20px;
				}
			}
		}
	}

	@include mobile-below() {
		#home-slideshow {
			.gallery .gallery-slider {
				.gallery-slider-slide {
					padding-bottom:30%;
					margin-bottom:150px;
					.holder {
						padding-top:30%;
						display:block;
						.content {
							width:100%;
							float:none;
							.title {
								font-size:28px;
							}
							.text {
								font-size:22px;
							}
							.button {
								width:190px;
								height:35px;
								line-height:38px;
								margin-top:10px;
								font-size:14px;
								padding-left:0;
							}
						}
					}
				}
				.owl-controls {
					bottom:160px;
				}
			}
		}
	}
}