.post-head {
	height: 105px;
	.title {
		text-align:left;
		font-size:20px;
		color:#4a4a4a;
		text-decoration:none;
		margin:0;
		line-height:1.2;
		&:after {
			width:50px;
			top:30px;
			left:0;
			margin:0;
			background-color:#9b9b9b;
		}
	}
	.date {
		@include font-primary( 17px, 600 );
		text-transform:uppercase;
		color:#9b9b9b;
		line-height:1.2;
	}
}

#main.page-blog {

	#post-filters {
		.news-nav {
			padding: 50px 80px;
			p {
				float: left;
				@include font-primary(16px);
				text-transform: uppercase;
				padding: 0 10px;
				line-height: 30px;
				margin: 0;
			}
			ul {
				float: left;
				text-transform: uppercase;
				text-align: center;
				li {
					float: left;
					padding: 0 10px;
					margin: 0 20px;
					a {
						@include font-primary( 14px, $colour:$news-cat-text );
						text-decoration: none;
						line-height: 30px;
					}
					&.active {
						background-color: $news-cat-active;
					}
				}
			}
		}
	}
	#post-list {
		.item {
			display:block;
			.post-head .title {
				font-size:18px;
				line-height:1;
			}
			.image {
				width:100%;
				padding-bottom:50%;
				position:relative;
				overflow:hidden;
				.overlay, .background {
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
					@include db-transition( all 0.5s ease-in-out );
				}
				.overlay {
					background-color:rgba( $colour-main, 0.5 );
					z-index:5;
				}
				.background {
					background-size:contain;
					background-position:center;
					background-repeat:no-repeat;
				}
				&:hover {
					.overlay {
						background-color:transparent;
					}
					.background {
						@include db-transform( scale( 1.1, 1.1 ) );
					}
				}
			}
			.dyn-content {
				padding-top:30px;
				p {
					color:$colour-main;
				}
			}
			.more {
				position:relative;
				@include font-primary( 16px, 600, $colour:$colour-main );
				@include db-arrow( $color:#9b9b9b );
				text-transform:uppercase;
				margin-bottom:40px;
				&:after {
					margin:0;
					top:6px;
					left:110px;
				}
			}
		}
	}

	@include laptop-below() {
		#post-filters {
			.news-nav {
				ul {
					li {
						margin: 0 5px;
					}
				}
			}
		}
	}
	@include tablet-below(){
		#post-filters {
			.news-nav {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@include mobile-below(){
		#post-filters {
			.news-nav {
				p {
					width: 100%;
					text-align: center;
				}
				ul {
					li {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}

#main.single-standard {
	#page-main {
		padding:40px 0;
		.container {
			padding:0 180px;
		}
		.post-head {
			height:auto;
			position:relative;
			.title {
				font-size:24px;
				margin: 0 60px 0 0;
			}
			.date {
				font-size:20px;
			}
			#back {
				position:absolute;
				top:5px;
				right:0px;
				span {
					@include db-arrow( 10px, 1px, #9b9b9b, -135deg, $top:-2px, $right:auto, $left:-10px );
				}
			}
		}
		.image {
			width:100%;
			padding-bottom:50%;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			margin:30px 0;
		}
		.dyn-content {
			p:last-child{
				margin-bottom: 40px;
			}

		}
		.share-links {
			@include clearfix();
			p {
				float:left;
				margin-right:10px;
			}
			ul {
				li {
					width:25px;
					height:25px;
					float:left;
					@include db-radius( 50% );
					background-color:$colour-bg;
					text-align:center;
					line-height:25px;
					font-size:14px;
					cursor:pointer;
					@include db-noselect();
					color: white;
					margin-right: 5px;
				}
				.twitter {
					background-color:#39aad1;
				}
				.facebook {
					background-color: #335a90;
				}
				.linkedin {
					background-color: #4a9ac7;
				}
				.googleplus {
					background-color: #cb4b3d;
				}
			}
		}
		hr {
			width: 100%;
			border-color: $news-border-bottom;
			margin: 40px 0;
		}
		.prev, .next {
			position: relative;
			span {
				width:10px;
				height:10px;
				position:relative;
				display:inline-block;
			}
		}
		.prev {
			span {
				margin-right:5px;
				@include db-arrow( 11px, 2px, #9b9b9b, -135deg);
			}
		}
		.next {
			float: right;
			span {
				margin-left:5px;
				@include db-arrow(11px, 2px, #9b9b9b, 45deg);
			}
		}
	}
	@include tablet-below() {
		#page-main {
			.container {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

	}
}