#main.single-product {

	#part-breadcrumbs {
		margin-bottom: 20px;
	}
	.product-image-wrap {
		overflow: hidden;
		padding-right: 0;
		@include mobile-below(){
			margin-right: $grid-gutter-width/2;
			padding-right: 0;
		}
		#product-images {
			//padding-right:40px;
			.gallery {
				width: 100%;
				.gallery-prev, .gallery-next {
					top:38%;
					&:after {
						border-color:$colour-bg;
					}
				}
				.gallery-slider {
					border: 1px solid #d8d8d8;
					.gallery-slider-slide {
						padding-bottom: 132%;
						background-size:contain;
					}
				}
				.gallery-carousel {
					.gallery-carousel-slide {
						padding-bottom: 132%;
						border: 1px solid #d8d8d8;
					}
				}
			}
		}
	}
	.product-detail-wrap {
		padding-left: 60px;
		@include mobile-below(){
			padding-left: $grid-gutter-width/2;
		}
		#product-details {
			h1 {
				margin: 0;
				text-align: left;
				&:after {
					display: none;
				}
			}
			#product-code {
				@include font-secondary(12px);
				color: $colour-bg;
			}
			#product-price {
				position: relative;
				margin: 20px 0;
				.price {
					margin-bottom: 10px;
					.amount {
						@include font-secondary(20px, 400, 1px);
						color: $colour-bg;
						line-height: 1;
					}
				}
				&:after {
					content: '';
					width: 90px;
					height: 1px;
					display: block;
					background-color: #9b9b9b;
					left: 0;
				}
			}
		}

		#product-cart {
			.variations {
				width: 100%;
				.label, .value {
					padding: 5px 0;
					font-size: 14px !important;
				}
				.label {
					width: 80px;
					@include font-primary(16px, 600, 2px);
					text-transform: uppercase;
				}
				.value {
					width: calc(100% - 120px);
					input, select {
						min-width: 200px;
						height: 30px;
						line-height: 30px;
						border: 1px solid #cecece;
						padding: 0 5px;
					}
					input {

					}
					select {
						background-color: #e7e7e7;

					}
					.reset_variations {
						margin-left: 10px;
					}
				}
			}
			#quantity.variations {
				.value {
					.quantity-down, .quantity-up {
						width: 20px;
						height: 20px;
						float: left;
						@include db-radius(50%);
						background-color: $colour-bg;
						color: #fff;
						text-align: center;
						line-height: 22px;
						position: relative;
						top: 5px;
						font-size: 14px;
						cursor: pointer;
						@include db-noselect();
					}
					input {
						width: 60px;
						min-width: 60px;
						float: left;
						margin: 0 5px;
					}
				}
			}
			.woocommerce-variation {
				.woocommerce-variation-price {
					float: left;
					padding: 10px 0;
					@extend .p-bold;
					font-size: 16px !important;
				}
				.woocommerce-variation-availability {
					float: left;
					margin-left: 20px;
				}
			}
			.single_add_to_cart_button {
				width: 170px;
				height: 40px;
				line-height: 40px;
				background-color: $colour-bg;
				border: 0;
				@include font-primary(16px, 400, 2px);
				color: #fff;
				text-transform: uppercase;
				margin-top: 30px;
			}
		}

		#product-tabs {
			& > ul {
				margin-top: 30px;
				border-top: 1px solid #9b9b9b;
				& > li {
					width: 33.333%;
					@include font-primary(18px, 600, 1px);
					text-align: center;
					text-transform: uppercase;
					color: #4a4a4a;
					background-color: #e7e7e7;
					border-right: 1px solid #d8d8d8;
					&.active {
						background-color: transparent;
					}
					&:last-child {
						border: 0;
					}
				}
			}
			& > div {
				& > div {
					padding-top: 20px;
				}
			}
		}
	}


	@include tablet-below() {
		#product-images {
			padding-right: 0;
		}
	}

	@include mobile-below() {
		#product-images {
			margin-bottom:30px;
		}
	}

}