#main.page-stores {

}

#main.single-store {
	#store-gallery {
		margin-bottom:40px;
		.gallery .gallery-slider .gallery-slider-slide {
			padding-bottom:40%;
		}
	}
	#store-details {
		padding-bottom:30px;
		#store-logo {
			float:right;
		}
		p, address, table {
			@include font-secondary( 13px );
			margin:0;
		}
		.title {
			margin:0 0 30px 0;
		}
		address {
			margin-bottom:20px;
			line-height:1.5;
		}
		table {
			width:100%;
			tr {
				th, td {
					font-weight:400;
					line-height:1.4;
				}
				th {

				}
				td {
					text-align:right;
				}
			}
		}
		a {

		}
		#location-details {
			margin:20px 0;
		}
		#store-map {
			width:100%;
			padding-bottom:60%;
		}
		#store-map-button{
			color: white;
			letter-spacing: 2.3px;
			font-weight: 400;

		}
	}
}