body {
	// Default styles
	background-color: $colour-bg;
	overflow:hidden;
	overflow-y:scroll;
}

ul {
	margin:0;
	padding:0;
	li {
		list-style-type:none;
	}
}

h1 {
	text-align:center;
	margin-bottom:20px;
	@include font-primary( 22px, 600, 3px );
	text-transform:uppercase;
	&:after {
		width:100px;
		height:1px;
		content:'';
		display:block;
		position:relative;
		background-color:$colour-main;
		top:10px;
		margin:0 auto;
	}
}

.title {
	@extend h1;
}

.sub-title {
	margin-bottom:20px;
	@include font-primary( 16px, 600, 2px );
	text-transform:uppercase;
	color: $sub-title-colour;
	&:after {
		width:60px;
		height:1px;
		content:'';
		display:block;
		position:relative;
		background-color:$colour-main;
		top:10px;
		left:0;
	}
}

.p-bold {
	@include font-primary(14px, 600);
	text-transform: uppercase;
	line-height: 30px;
}
a {
	color: inherit;
}

#notification {
	width:100%;
	display:block;
	padding:5px 10px;
	line-height:20px;
	border-width:2px;
	border-style:solid;
	margin-bottom:10px;
	p {
		margin:0;
		text-align:center;
	}
	&.success {
		color:#4F8A10;
		border-color:#4F8A10;
		background-color:#DFF2BF;
	}
	&.error {
		color:#D8000C;
		border-color:#D8000C;
		background-color:#FFBABA;
	}
}
.onsale {
	width:80px;
	height:20px;
	display:block;
	position:absolute;
	top:11px;
	right:-19px;
	line-height:20px;
	text-align:center;
	background-color:red;
	color:#fff;
	@include db-transform( rotate( 45deg ) );
	z-index:2;
}


@include desktop() { // Desktop Only

}

@include laptop-below() { // Laptop & Below

}

@include laptop() { // Laptop Only

}

@include tablet-below() { // Tablet & Below

}

@include tablet() { // Tablet Only

}

@include mobile-below() { // Mobile & Below

}

@include mobile() { // Mobile Only

}

@include small() { // Extra Small

}