$font-primary: "garamond-premier-pro";
$font-primary-default-size: 15px;
$font-primary-default-weight: 400;
$font-primary-default-spacing: 1px;
$font-primary-default-colour: $colour-bg;

$font-secondary: 'Roboto';
$font-secondary-default-size: 14px;
$font-secondary-default-weight: 400;
$font-secondary-default-spacing: 0.5px;

$font-family-sans-serif: $font-secondary;
$font-family-serif: $font-primary;


$arrow-default-size: 10px;
$arrow-default-thickness: 1px;
$arrow-default-colour: #fff;
$arrow-default-angle: 45deg;

$mobile-nav-width: 308px;



