.button {
	width:auto;
	height:30px;
	padding:0 10px;
	line-height:35px;
	border:0;
	@include db-radius( 0 );
	background-color:$colour-bg;
	text-transform:uppercase;
	@include db-transition(all 350ms ease-in-out);
	@include font-primary( 16px, 600, $colour:#fff );
	&:hover {
		color:#fff;
		background-color:rgba($colour-bg, 0.7);
	}
}

.button.alt {
	width:100%;
	display:block;
	height:40px;
	line-height:45px;
	text-align:center;
	background-color:$colour-bg;
	&:hover {
		color:#fff;
		background-color:$colour-main;
	}
}