.dyn-content {
	font-size: 14px;
	p {
		font-size: 14px;
		img {
			margin-bottom: 10px;
			max-width: 100%;
			height: auto;
			&.alignleft {
				float: left;
				margin-right: 10px;
			}
			&.alignright {
				float: right;
				margin-left: 10px;
			}
		}
	}
	a {
		text-decoration:underline;
	}
	ul {
		padding-left:15px;
		li {
			width: 100%;
			position: relative;
			text-align:left;
			list-style-type:disc;
			font-weight: 400;
		}
	}
}