#filters-nav {
	@include clearfix();
	p {
		@include font-primary( 14px );
		text-transform:uppercase;
		line-height:30px;
		margin:0;
	}
	#filter-posts {
		float:left;
		background-color:#e7e7e7;
		padding:0 10px;
		cursor:pointer;
		@include db-noselect();
		span, p {
			display:inline;
			//line-height:30px;
		}
		span {
			position:relative;
			top:1px;
		}
		.fa-th{
			display: none;
		}
		p {
			margin-left:5px;
		}
	}
	.woocommerce-result-count {
		float:left;
		margin-left:10px;
	}
	#sort-posts {
		float:right;
		p {
			float:left;
		}
		form {
			float:right;
			margin-left:10px;
			select {
				height:30px;
			}
		}
	}
}
#filter-posts-dropdown {
	display:none;
	padding-bottom:20px;
	ul {
		margin:0;
	}
	#product-filter-widget {
		padding-top:10px;
		background-color:#e7e7e7;
		& > div {
			width:20%;
			float:left;
			padding:0 15px;
			.berocket_aapf_widget-wrapper {
				position:relative;
				margin-bottom:20px;
				.berocket_aapf_widget-title_div {
					position:absolute;
					top:0;
					left:0;
					z-index:1;
					.berocket_aapf_widget_show {
						display:none;
						margin:0;
						top:5px;
						@include db-transition( transform 0.2s ease-in-out );
					}
				}
				.berocket_aapf_widget {
					position:relative;
					padding-top:30px;
					z-index:2;
				}
			}
		}
		@include clearfix();
	}
}

@include mobile-below(){
	#filters-nav {
		.woocommerce-result-count {
			float: right;
			margin: 0;
		}
		#sort-posts {
			float:left;
			padding: 10px 0;
		}
	}
}
