footer {
	#footer {
		padding:30px 0;
		ul li a, .store .footer-title {
			@include font-primary( 13px );
			text-transform:uppercase;
			color:#fff;
			line-height:1.1;
		}
		a{
			@include db-transition(all 350ms ease-in-out);
			&:hover{
				opacity: 0.5;
			}
		}
		ul {
			@include mobile-below(){
				text-align: center;
			}
			li {
				margin-bottom:20px;
				a {
					display:block;
				}
			}
		}
		.store {
			.footer-title {
				margin-bottom:25px;
			}
			address, a {
				@include font-primary( 15px );
				color:#fff;
				line-height:1.1;
			}
			address {
				margin-bottom:25px;
				line-height:1.3;
			}
			a {
				display:block;
				text-decoration:none;
				margin-bottom:5px;
			}
		}
		@include tablet-below(){
			ul li a, .store .footer-title {
				font-size: 14px;
			}
		}
		@include mobile-below(){
			ul li a, .store .footer-title {
				font-size: 18px;
			}

		}
	}
	#footer-bottom {
		border-top:1px solid #414141;
		padding:50px 0;
		text-align: center;
		#footer-copyright {
			display:inline-block;
			//float:left;
			@include font-primary( 14px );
			font-style:italic;
			color:#fff;
			@include tablet-below(){
				letter-spacing: 0;
			}
		}
		#footer-social {
			text-align:center;
			margin:0 auto;
			p, a {
				line-height:1;
				color:#fff;
			}
			p {
				@include font-primary( 18px, $colour:white );
				text-transform:uppercase;
				display:inline-block;
			}
			a {
				display:inline-block;
				text-decoration:none;
				margin-left:10px;
			}
		}
		#footer-logo {
			display:inline-block;
		}
	}
}