.gallery {
	position:relative;
	.gallery-prev, .gallery-next {
		width:50px;
		height:50px;
		position:absolute;
		top:calc( 50% - 25px );
		cursor:pointer;
		z-index:3;
	}
	.gallery-prev {
		left:10px;
		@include db-arrow( 30px, 2px, #fff, -135deg );
		display:none;
	}
	.gallery-next {
		right:10px;
		@include db-arrow( 30px, 2px, #fff, 45deg );
	}
	.gallery-slider {
		z-index:1;
		.gallery-slider-slide {
			width:100%;
			padding-bottom:50%;
			background-position:center;
			background-size:cover;
			background-repeat:no-repeat;
			z-index:2;
			.inner {
				@include db-fill_parent();
				.content {

				}
			}
		}
	}
	.gallery-carousel {
		padding:20px 0 0 0;
		.gallery-carousel-slide {
			width:100%;
			padding-bottom:50%;
			background-position:center;
			background-size:cover;
			background-repeat:no-repeat;
			z-index:2;
		}
		@include mobile-below(){
			padding: 20px 0;
		}
	}

	&[data-loop="true"] {
		.gallery-prev {
			display:block;
		}
	}
}