#header {
	#header-cart {
		#header-cart-dropdown {
			width: 100%;
			display: none;
			position: absolute;
			top: 60px;
			background-color: $colour-main;
			z-index: 999;
			color: #fff;
			padding: 5px;
			.empty {
				height: 40px;
				padding: 10px 0;
				text-align: center;
			}
			ul {
				max-height:200px;
				overflow-y:auto;
				background-color:#4D4D4D;
				li {
					position:relative;
					padding:10px 30px;
					border-bottom:1px solid $colour-main;
					a {
						display:block;
						font-size:16px;
						line-height:1;
						font-weight:400;
						img {
							position:absolute;
							top:5px;
							right:5px;
							float:right;
						}
					}
					.remove {
						top:10px;
						left:5px;
					}
					.quantity {
						display:block;
						font-size:14px;
						line-height:1;
						.amount {
							span {

							}
						}
					}
					.variation {
						padding:0;
						border:0;
						line-height:1;
						@include font-secondary( 14px );
						color:#fff;
						dt, dd {
							padding:0 !important;
							@include font-secondary( 14px );
							color:#fff;
							p {
								line-height:1;
								@include font-secondary( 14px );
								color:#fff;
							}
						}
						dt {

						}
						dd {
							margin:0 !important;
						}
					}
				}
			}
			.total {
				border:0;
			}
			.buttons {
				.button {
					width:calc( 50% - 8px );
					height:40px;
					line-height:40px;
					position:absolute;
					bottom:5px;
					left:5px;
					text-align:center;
					font-weight:400;
					&.checkout {
						left:auto;
						right:5px;
					}
				}
			}
		}
	}
}