#header {
	height: 60px;
	position: relative;
	background-color: $colour-main;
	background-image: url('/wp-content/themes/angels/assets/img/bg-tile.png');

	#header-logo {
		width: 160px;
		height: 94px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 8px auto 0;
		z-index:5;
		img {
			width: 100%;
			height: auto;
		}
	}
	#header-contact, #header-cart {
		width: calc(50% - 140px);
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			width: 80px;
			height: 1px;
			background-color: $colour-bg;
			position: absolute;
			top: 30px;
			@include laptop-below(){
				width: 50px;
			}
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
		p, a {
			@include font-primary(15px, bold);
			color: #fff;
			text-transform: uppercase;
			line-height: 60px;
			text-decoration: none;
		}
	}
	#header-contact {
		float: left;
		&:before, &:after {
			width: 90px;
		}
		a {
			display: block;
			text-align: center;
		}
	}
	#header-cart {
		float: right;
		#header-cart-text {
			display: block;
			text-align: center;
		}
	}
	.fa-shopping-cart{
		display: none;
	}

	@include laptop-below() {
		#header-contact, #header-cart {
			&:before, &:after{
				width:30px;
			}
		}
	}

	@include tablet-below() {
		height: auto;

		#header-contact, #header-cart {
			width: calc(45% - 60px);
			margin: 25px 0;
			&:before, &:after{
				display: none;
			}
		}

	}

	@include mobile-below() {
		height: 100px;
		margin-top:40px;
		border-bottom:1px solid $colour-bg;

		#header-logo{
			width:150px;
			height:90px;
		}

		#header-contact {
			width:100%;
			height:40px;
			position:absolute;
			top:-40px;
			left:0;
			margin:0;
			float:none;
			a {
				line-height:40px;
			}
		}

		#mobile-header-buttons {
			position:absolute;
			top:35px;
			left:0;
			.mob-button {
				width:30px;
				height:20px;
				position:relative;
				display:block;
				float:left;
				background:none;
				padding:0;
				color:#666;
				text-align:center;
				line-height:30px;
				margin-left:15px;
				@include db-noselect();
				i {
					color:#666;
					font-size:30px;
				}
				&:focus{
					outline: 0;
				}
			}
			#mob-nav {
				border:0;
				.nav-icon {
					width:100%;
					height:100%;
					position:relative;
					cursor:pointer;
					-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);
					-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;
					span {
						width:100%;
						height:4px;
						display:block;
						position:absolute;
						left:0;
						background:#fff;
						border-radius:2px;
						opacity:1;
						-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);
						-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;
						&:nth-child(1) {top:0px;}
						&:nth-child(2), &:nth-child(3) {top:8px;}
						&:nth-child(4) {top:16px;}
					}
				}
				&.active {
					.nav-icon {
						span {
							&:nth-child(1) {top:10px;width:0%;left:50%;}
							&:nth-child(2) {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
							&:nth-child(3) {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
							&:nth-child(4) {top:10px;width:0%;left:50%;}
						}
					}
				}
			}
		}

		.fa-shopping-cart {
			color: white;
			font-size: 35px;
			display: block;
			position: absolute;
			right: 15px;
			top: 30px;
		}
	}

}