#navigation {
	height:50px;
	background-color:$colour-bg;
	position:relative;
	z-index:1;

	nav {
		ul {
			height:50px;
			margin:0;
			padding:0;
			li {
				list-style-type:none;
				display:inline-block;
				float:left;
				padding:0 20px;
				@include db-transition(all 350ms ease-in-out);
				&:hover{
					background-color: $colour-main;
				}
				a {
					height:50px;
					display:block;
					line-height:52px;
					@include font-primary( 15px );
					text-decoration:none;
					color:#fff;
					text-transform:uppercase;
				}
				&.current-menu-item a {
					border-bottom:1px solid #fff;
				}
			}
		}
	}

	#navigation-left {
		float:left;
	}
	#navigation-right {
		float:right;
		margin-right:100px;
	}
	#search-button {
		position:absolute;
		top:15px;
		right:75px;
		color:white;
		font-size:14px;
		cursor:pointer;
	}

	@include laptop-below() {
		nav ul li {
			padding:0 15px;
		}
		#navigation-left ul li {
			&:first-child {
				padding-left:0;
			}
		}
		#navigation-right {
			margin-right:65px;
		}
		#search-button {
			right:40px;
		}
	}

	@include tablet-below() {
		nav ul li a {
			font-size:14px;
		}
		#navigation-right {
			float:none;
			margin:0;
			ul li {
				&:last-child {
					padding-right:0;
				}
			}
		}
		#search-button {
			right:15px;
		}
	}

	@include mobile-below() {
		display:none;
	}
}