.product-list {
	ul {
		padding:30px 0;
		li {
			margin-bottom:20px;
			a {
				width:100%;
				display:block;
				text-decoration:none;
				.image {
					width:100%;
					padding-bottom:130%;
					position:relative;
					border-bottom:1px solid $colour-bg;
					overflow:hidden;
					img {
						width:auto;
						max-width:100%;
						height:auto;
						//max-height:100%;
						display:block;
						position:absolute;
						margin:auto;
						top:auto;
						right:0;
						bottom:0;
						left:0;
						vertical-align:top;
						z-index:1;
					}
				}
				.content {
					padding:20px 0;
					h2, p, .amount {
						color:$colour-bg;
						line-height:1.3;
					}
					h2, .title {
						@include font-primary( 18px, 400, 2px );
						text-transform:uppercase;
						margin:0;
						.count {
							display:none;
						}
						&:after {
							display:none;
						}
					}
					p {
						margin:0;
					}
				}
			}
			&.product a {
				.content {
					height:120px;
				}
			}
			&.product-category a {
				.content {
					height:80px;
					position:relative;
					padding:0;
					h2, .title {
						position:relative;
						top:50%;
						@include db-transform( translateY( -50% ) );
					}
				}
			}
		}
	}

	@include desktop() {
		ul li.product-category a {
			.image {
				padding-bottom:110%;
			}
		}
	}
}