.tabs {
	ul {
		width:100%;
		display:block;
		li {
			width:auto;
			display:inline-block;
			float:left;
			list-style-type:none;
			padding:5px 10px;
			cursor:pointer;
			&.active {

			}
		}
		@include clearfix;
	}
	& > div {
		& > div {
			display:none;
			&.active {
				display:block;
			}
		}
	}
}