.woocommerce {
	input[type="text"], input[type="password"], input[type="email"] {
		border:1px solid #d8d8d8;
		height:40px;
		line-height:40px;
		padding-left:10px;
	}
	input.button, a.button {
		@extend .button;
	}
	input.button.alt, a.button.alt {
		@extend .button.alt;
	}
	a.button.disabled, a.button:disabled,
	a.button:disabled[disabled],
	button.button.disabled,
	button.button:disabled,
	button.button:disabled[disabled],
	input.button.disabled,
	input.button:disabled,
	input.button:disabled[disabled] {
		@extend .button;
		opacity:0.5;
	}
	table.shop_table {
		border:0;
		.cart_item {
			.product-name {
				a {
					color:$colour-main;
				}
				dl.variation {
					dt, dd {
						font-size:14px;
					}
				}
			}
			.product-quantity {
				.quantity-up, .quantity-down {
					display:inline-block;
					cursor:pointer;
				}
				input {
					width:60px;
					max-width:none;
					padding-left:15px;
				}
				.quantity-up {}
				.quantity-down {}
				@include db-noselect();
			}
		}
	}
	.col-1, .col-2{
		max-width:none;
	}
}
